<head>

  <link rel="stylesheet" href="../../stylesheets/stylesFooter.css" />

</head>

<footer>
    <div class="footer" id="footer">
      <div class="informacion">
        <div class="container-informacion">
        <p class="fondoscuro">Informacion de contacto</p>
        <p>Email: <a href="mailto:contacto@contacto.com">contacto@contacto.com</a></p>
        <p>Direccion: Direcion 123, Ciudad, Localidad</p>
        <p>Telefono: 4444 - 4444 - 9999</p>
      </div>
      </div>

      <div class="nav-footer">
        <a href="/">INICIO</a>
        <a href="/products">PRODUCTOS</a>
      </div>

      <div id="formulario" class="container-formulario">
        <form class="formulario" action="">
          <label for="name">Nombre</label>
          <input type="text" name="name" id="name" placeholder="Nombre">
          <label for="email">Correo electronico</label>
        <input type="email" name="email" id="email" placeholder="Correo electronico" required>
        <textarea name="comentario" id="comentario" cols="30" rows="10" placeholder="Dejanos tu mensaje"></textarea>
        <button type="submit">Enviar</button>
        </form>
      </div>
    </div>
  </footer>