<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Index</title>
    <!-- Hoja de estilos -->
    <link rel="stylesheet" href="../../stylesheets/styles.css" />
    <!-- Iconos -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- Fuente -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Alef&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <%- include('./partials/header') %>

    <main class="main">
      <div class="main-container">
        <div class="cards-container">
          <div class="card">
            <img src="../../images/botin2.jpg" alt="img producto" />
            <h2 class="caption"><a href="#">Nike</a></h2>
          </div>
          <div class="card">
            <img src="../../images/botin2.jpg" alt="img producto" />
            <h2 class="caption"><a href="#">Nike</a></h2>
          </div>
          <div class="card">
            <img src="../../images/botin2.jpg" alt="img producto" />
            <h2 class="caption"><a href="#">Nike</a></h2>
          </div>
          <div class="card">
            <img src="../../images/botin2.jpg" alt="img producto" />
            <h2 class="caption"><a href="#">Nike</a></h2>
          </div>
          <div class="card">
            <img src="../../images/botin2.jpg" alt="img producto" />
            <h2 class="caption"><a href="#">Nike</a></h2>
          </div>
        </div>

        <div class="banner">
          <h1>LOREM IPSUM</h1>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cum
            corporis accusamus ipsum dolore nam architecto expedita iusto quod!
            Labore aliquid exercitationem consectetur nemo delectus suscipit
            modi fugiat ducimus quae vel impedit necessitatibus, facilis ab quis
            magnam praesentium quidem excepturi omnis natus cupiditate minus
            fugit eos magni? Temporibus beatae vel placeat asperiores facilis
            dolores, eius laboriosam maxime hic nihil veritatis, deleniti
            debitis iure quod dolore, cupiditate similique a modi commodi ullam
            id magnam eum obcaecati. Eos culpa, dolor consequuntur fugiat
            aperiam officia obcaecati labore sapiente alias laborum temporibus
            non praesentium, autem exercitationem quasi doloremque tempora sint
            placeat libero, eveniet omnis rem.
          </p>
        </div>

        <div class="cointainer-columnas">
          <div class="columna">
            <figure class="img-columna">
              <img src="../../images/botin3.jpg" alt="Producto" />
            </figure>
            <p class="titulo-columna">Nombre del Producto</p>
            <p class="descripcion-columna">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro,
              ducimus sed ea quaerat eveniet suscipit!
            </p>
            <a href="#" class="descubrir">Descubrir</a>
          </div>

          <div class="columna">
            <figure class="img-columna">
              <img src="../../images/botin3.jpg" alt="Producto" />
            </figure>
            <p class="titulo-columna">Nombre del Producto</p>
            <p class="descripcion-columna">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro,
              ducimus sed ea quaerat eveniet suscipit!
            </p>
            <a href="#" class="descubrir">Descubrir</a>
          </div>

          <div class="columna">
            <figure class="img-columna">
              <img src="../../images/botin3.jpg" alt="Producto" />
            </figure>
            <p class="titulo-columna">Nombre del Producto</p>
            <p class="descripcion-columna">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro,
              ducimus sed ea quaerat eveniet suscipit!
            </p>
            <a href="#" class="descubrir">Descubrir</a>
          </div>

          <div class="columna">
            <figure class="img-columna">
              <img src="../../images/botin3.jpg" alt="Producto" />
            </figure>
            <p class="titulo-columna">Nombre del Producto</p>
            <p class="descripcion-columna">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro,
              ducimus sed ea quaerat eveniet suscipit!
            </p>
            <a href="#" class="descubrir">Descubrir</a>
          </div>
        </div>
      </div>
    </main>

    <%- include('./partials/footer') %>
  </body>
</html>
